[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[core]
  editor = code --wait
  autocrlf = false
  safecrlf = true
  pager = delta --plus-color="#0f4100" --minus-color="#650000" --theme='Dracula' --color-only
[interactive]
  diffFilter = delta --plus-color="#0f4100" --minus-color="#650000" --theme='Dracula' --color-only
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[pull]
  ff = only
[push]
  default = simple
[user]
  email = jdinhify@gmail.com
  name = JD
